# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class
__pycache__/

# Ambientes virtuais
venv/
env/
.venv/

# Arquivos de configuração sensíveis
.env

# Banco de dados SQLite (geralmente gerado automaticamente)
db.sqlite3

# Arquivos de log
*.log

# Pastas do Django
*.mo
*.pot

# Pastas do Docker (se houver build artifacts)
docker-compose.override.yml

# Arquivos do VS Code
.vscode/

# Arquivos desnecessários do macOS
.DS_Store
